@use "../presets/" as *;
@use "../mixins/" as *;

.widget-news {
  @include lg-min {
    width: 240px;
  }
  &__item-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 0 (-$gap-sm) 7.5px;
    padding: 0 $gap-sm 7.5px;
  }
  &__item-title {
    display: block;
    overflow: hidden;
    width: 100%;
    margin: 0 0 10px;
    transition: color 0.5s;
    white-space: nowrap;
    letter-spacing: 1px;
    text-overflow: ellipsis;
    font-weight: 300;
  }
  &__item-image {
    overflow: hidden;
    width: $gap-x4;
    height: $gap-x4;
    border-radius: 4px;

    img {
      transition: transform 0.5s;
    }
  }
    &__item-excerpt {
      overflow: hidden;
      width: calc(100% - $gap-x4);
      max-height: $gap-x4;
      padding-left: 10px;
      transition: color 0.5s;
    color: $color-gray;
    font-size: 13px;
    line-height: 19px;
    }
 }