@use "../presets/" as *;
@use "../mixins/" as *;

.widget-news {
  @include lg-min {
    width: 240px;
  }
  &__item-wrapper {
    display: flex;
    flex-wrap: wrap;

    margin: 0 (-$gap-sm) 7.5px;
    padding: 0 $gap-sm 7.5px;
  }
  &__item-title {
    display: block;
    overflow: hidden;

    width: 100%;
    margin: 0 0 10px;

    transition: color 0.5s;
    white-space: nowrap;
    letter-spacing: 1px;
    text-overflow: ellipsis;

    font-weight: 300;

    @include text-shortener;
  }
  &__item-image {
    overflow: hidden;

    width: $gap-x4;
    height: $gap-x4;

    border-radius: 4px;

    img {
      transition: transform 0.5s;
    }
  }
  &__item-excerpt {
    width: calc(100% - $gap-x4);
    padding-left: 10px;

    transition: color 0.5s;

    color: $color-gray;

    @include block-with-text;
  }
  a:hover {
    h4 {
      @include text-shadow;
    }

    img {
      transform: scale(1.2);
    }

    .widget-news__item-excerpt {
      color: $color-light;
    }

    .widget-news__item-wrapper {
      background: radial-gradient(
        ellipse at center,
        rgba($color-dark, 0.65) 0%,
        rgba($color-dark, 0) 100%
      );
    }
  }
}
