@use "../presets/" as *;
@use "../mixins/" as *;

.header {
  overflow: hidden;

  min-height: 100px;
  margin-bottom: $gap;

  border-radius: 0 0 7px 7px;
  background-color: rgba($color-dark, 0.5);
}
