@use "../presets/" as *;
@use "../mixins/" as *;

.header-menu {
  display: flex;
  align-items: center;
  flex-direction: column;

  background-color: rgba($color-dark, 0.3);

  &__btn {
    align-items: center;
    flex-direction: column;
    justify-content: center;

    width: 50px;
    height: 50px;

    cursor: pointer;

    background-color: rgba($color-dark, 0.2);

    @include sm-min {
      display: none;
    }
    @include sm {
      display: flex;
    }

    &-row {
      position: relative;

      width: 60%;
      height: 2px;
      margin: 2px 0;

      transition: 0.5s;

      background-color: $color-light;
    }
  }
  &__list {
    margin: 0;
    padding: 0;

    list-style: none;

    @include sm-min {
      display: flex;
    }
    @include sm {
      display: none;

      width: 100%;

      text-align: center;
    }

    &-item a {
      display: block;

      margin: 5px;
      padding: 10px $gap-sm;

      border-radius: 4px;
      &:hover,
      &:focus {
        color: $color-button-accent;
        background-color: rgba($color-dark, 0.4);
        text-shadow: 1px 1px 3px $color-dark, 1px 1px 10px $color-dark;
      }
    }

    &-item.active a {
      color: $color-button-accent;
      background: rgba($color-dark, 0.4);
      text-shadow: 1px 1px 3px $color-dark, 1px 1px 10px $color-dark;
    }
  }
}
