$color-accent: #e12727;
$color-button-accent: #bb1a1a;
$color-accent-dark: darken($color-accent, 10%);
$color-warning: #d8b036;
$color-dark: #000000;
$color-gray: #cccccc;
$color-light: #eeeeee;
$color-border: #333333;
