@use "sass:math";
$font-main: "Roboto", sans-serif;
$font-header: "Lora", serif;
$font-size: 14px;

$xl: 1380px;
$lg: 1200px;
$md: 992px;
$sm: 768px;
$xs: 576px;
$xx: 480px;

$gap: 30px;

$gap-sm: math.div($gap, 2); //15px
$gap-lg: $gap * 1.5; //45px
$gap-x2: $gap * 2; //60px
$gap-x3: $gap * 3; //90px

$left-sidebar-width: 220px;
$right-sidebar-width: 240px;
